<p>book-list works!</p>

<h2>📚 书籍列表</h2>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>书名</th>
      <th>分类</th>
      <th>价格</th>
      <th>库存</th>
      <th>状态</th>
      <th>创建时间</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.bookId }}</td>
      <td>{{ book.bookName }}</td>
      <td>{{ book.categoryId }}</td>
      <td>{{ book.price }}</td>
      <td [ngClass]="{ 'out-of-stock': book.counts === 0, 'low-stock': book.counts > 0 && book.counts < 5 }">
        {{ book.counts }}
      </td>
      <td>{{ book.status }}</td>
      <td>{{ book.createTime }}</td>
      <td>{{ book.updateTime }}</td>
    </tr>
  </tbody>
</table>



