table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;/* 固定表格布局 */
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}

.low-stock {
  color: orange;
  font-weight: bold;
}

a:visited {
  color: blue; /* 让已访问的链接颜色与普通链接一致 */
}
