<p>book-list works!</p>
<h2>📚 书籍列表(加分页 排序功能)</h2>
<button (click)="deleteBook()" [disabled]="selectedBook.length === 0">删除选中的书籍</button>
<button type="button" (click)="addBook()">增加书籍</button>


<table border="1">
  <thead>
    <tr>
      <th>编辑</th>
      <th>选择</th>
      <th>ID</th>
      <th>书名</th>
      <th>分类ID</th>
      <th>价格</th>
      <th>库存</th>
      <th>状态(1/2 前端转换成可借不可借)</th>
      <th>创建时间</th>
      <th>更新时间</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of bookForm">
      <td>
        <a [routerLink]="['/admin/book', book.bookId]">编辑</a>
      </td>
      <td>
        <input type="checkbox" [value]="book.bookId" (change)="toggleSelection(book.bookId)">
      </td>

      <td>{{ book.bookId }}</td>
      <td>{{ book.bookName }}</td>
      <td>{{ book.categoryId }}</td>
      <td>{{ book.price }}</td>
      <td [ngClass]="{ 'out-of-stock' : book.counts === 0, 'low-stock': book.counts > 0 && book.counts < 5 }">
        {{ book.counts }}
      </td>
      <td>{{ book.status }}</td>
      <td>{{ book.createTime }}</td>
      <td>{{ book.updateTime }}</td>

    </tr>
  </tbody>

</table>






