<p>book-list works!</p>
<h2>📚 书籍列表(加分页 排序功能NG 查找功能 根据categoryID筛选功能 打tag，一个bookid，对应多个tag，tag查重功能)</h2>
<button (click)="deleteBook()" [disabled]="selectedBook.length === 0">删除选中的书籍</button>
<button type="button" (click)="addBook()">增加书籍</button>
<!-- Angular Material 表格 -->
<!--Angular 的 *matCellDef 语法，用于遍历 dataSource 中的数据，每一行都会自动绑定当前行的 element 和 index 变量。-->

<div class="mat-elevation-z8">
<table border="1" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

  <!-- 根据ID选择 -->
<ng-container matColumnDef="checkbox">
  <th mat-header-cell *matHeaderCellDef> 选择 </th>
  <td mat-cell *matCellDef="let book">
    <input type="checkbox" [value]="book.bookId" (change)="toggleSelection(book.bookId)" >
  </td>
</ng-container>

<!--编辑按钮-->
<ng-container matColumnDef="edit">
  <th mat-header-cell *matHeaderCellDef> 编辑 </th>
  <td mat-cell *matCellDef="let book">
    <a [routerLink]="['/admin/book/', book.bookId]">edit</a>
  </td>
</ng-container>

<!-- Position Column-->
  <ng-container matColumnDef="demo-position">
  <th mat-header-cell *matHeaderCellDef> No. </th>
  <td mat-cell *matCellDef="let book; let i = index">
    {{ getDisplayIndex(i) }}</td>
</ng-container>

<!-- ID -->
<ng-container matColumnDef="bookId">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> BOOKID </th>
  <td mat-cell *matCellDef="let book"> {{ book.bookId }} </td>
</ng-container>

<!-- 书名 -->
<ng-container matColumnDef="book_name">
  <th mat-header-cell *matHeaderCellDef mat-sort-header > 书名 </th>
  <td mat-cell *matCellDef="let book"> {{ book.book_name }} </td>
</ng-container>

<!-- 分类 -->
<ng-container matColumnDef="category_id">
  <th mat-header-cell *matHeaderCellDef> 分类 </th>
  <td mat-cell *matCellDef="let book"> {{ book.category.categoryName }} </td>
</ng-container>
<!-- 分类 -->
<ng-container matColumnDef="categoryName">
  <th mat-header-cell *matHeaderCellDef> //分类Id</th>
  <td mat-cell *matCellDef="let book"> {{ book.category.categoryId }} </td>
</ng-container>
<!-- 价格 -->
<ng-container matColumnDef="price">
  <th mat-header-cell *matHeaderCellDef> 价格 </th>
  <td mat-cell *matCellDef="let book"> {{ book.price | currency:'CNY' }} </td>
</ng-container>

<!-- 库存 -->
<ng-container matColumnDef="counts">
  <th mat-header-cell *matHeaderCellDef> 库存 </th>
  <td mat-cell *matCellDef="let book"
      [ngClass]="{ 'out-of-stock' : book.counts === 0, 'low-stock': book.counts > 0 && book.counts < 5 }">
    {{ book.counts }}
  </td>
</ng-container>

<!-- 状态 -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> 状态 </th>
  <td mat-cell *matCellDef="let book"> {{ book.status === 1 ? '可借' : '不可借' }} </td>
</ng-container>

<!-- 创建时间 -->
<ng-container matColumnDef="createTime">
  <th mat-header-cell *matHeaderCellDef> 创建时间 </th>
  <td mat-cell *matCellDef="let book"> {{ book.createTime | date:'yyyy-MM-dd HH:mm' }} </td>
</ng-container>

<!-- 更新时间 -->
<ng-container matColumnDef="updateTime">
  <th mat-header-cell *matHeaderCellDef> 更新时间 </th>
  <td mat-cell *matCellDef="let book"> {{ book.updateTime | date:'yyyy-MM-dd HH:mm' }} </td>
</ng-container>

<!-- 表头行 -->
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

<!-- 数据行 -->
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

<!-- Row shown when there is no matching data.
 <tr class="mat-row" *matNoDataRow>
  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr>-->

</table>
<!-- -->
<!--分页 https://material.angular.io/components/table/examples-->


<!-- 分页器 这个和ts的this.dataSource.data = data.content|| []; 会出问题；和this.dataSource一起，sort失效-->
<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 15, 25]"
               (page)="onPageChange($event)">
</mat-paginator>

</div>


