<p>book-form works!</p>
<h2>{{ isEditMode ? '编辑书籍' : '新增书籍' }}</h2>

<form [formGroup]="bookForm">
  <label>书名:</label>
  <input type="text" formControlName="bookName">
  <br>

  <app-categories
  [showCategoryId]="bookForm.value.categoryId"
  (categoryChange)="bookForm.controls['categoryId'].setValue($event)">
</app-categories>
  <br>

  <label>价格:</label>
  <input type="number" formControlName="price">
  <br>

  <label>库存:</label>
  <input type="number" formControlName="counts">
  <br>

  <label>状态:</label>
  <input type="text" formControlName="status">
  <br>

  <label>描述:</label>
  <textarea formControlName="description"></textarea>
  <br>

  <button type="button" (click)="onSubmit()">
    {{ isEditMode ? '更新书籍' : '添加书籍' }}
  </button>
  <button type="button" (click)="goBack()">goBack</button>
</form>

